* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  color: white;
}


.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 750px;
  animation: fadeIn 1s ease-out; 
}

.headline {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.subheadline {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 400;
  font-style: italic;
}

.username-input {
  width: 70%;
  padding: 12px;
  margin-bottom: 25px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f7f7f7;
  color: #333;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.username-input:focus {
  border-color: #2575fc;
  background-color: #e6f3ff;
  outline: none;
}

.start-btn {
  background-color: #2575fc;
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-btn:hover {
  background-color: #1c59d2;
  transform: scale(1.05); 
}

.starting-message {
  position: absolute;
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
